/*=============== NEWSLETTER ===============*/
.newsletter__description {
  text-align: center;
  margin-bottom: $mb-1-5;
}

.newsletter__form {
  background: $bg-wh-color;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
}

.newsletter__input {
  width: 70%;
  padding: 0 0.5rem;
  background: none;
  color: $text-color-black;
}

.newsletter__input::placeholder {
  color: $text-color-light;
}
