/*=============== TRICK OR TREAT ===============*/
.trick__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.trick__content {
  position: relative;
  background: $bg-wh-color;
  color: $text-color-black;
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
}

.trick__img {
  width: 90px;
  transition: 0.3s;
}

.trick__subtitle,
.trick__price {
  display: block;
}

.trick__subtitle {
  font-size: $smaller-font-size;
  margin-bottom: $mb-0-5;
}

.trick__title,
.trick__price {
  color: $text-color-black;
  font-weight: $font-medium;
  font-size: $normal-font-size;
}

.trick__button {
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}

.trick__icon {
  font-size: 1.25rem;
  color: $title-color;
}

.trick__content:hover .trick__img {
  transform: translateY(-0.5rem);
}

.trick__content:hover .trick__button {
  right: 0;
}
